.container {
    position: fixed;
    width: 100%;
    height: 100%;
    background: linear-gradient(217deg, rgba(218, 135, 135, 0.8), rgba(255,0,0,0) 70.71%),
    linear-gradient(127deg, rgba(162, 223, 162, 0.8), rgba(0,255,0,0) 70.71%),
    linear-gradient(336deg, rgba(114, 114, 236, 0.8), rgba(0,0,255,0) 70.71%);
}
.color-picker-container {
    text-align: center;
    display: inline;
    color: white;
}
.board-container {
    width: 90%;
    height: 90%;
    margin: auto;
    margin-top: 1%;
    background: white;
}
.brushsize-container {
    display: inline;
    color: white;
    margin-left: 12px;
}
.tools-section {
    text-align: center;
}
.button{
    margin-left: 10px;
    height: 2em;
    margin-top: 10px;
}